* {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  padding: 0;
}
a {
  cursor: pointer;
}
li {
  list-style-type: none;
}

html,
body,
#app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f6f6ef;
  font-family: verdana;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container.loading {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.container .row.space-between {
  background-color: rgb(255, 102, 0);
  align-items: center;
}

.container .row.space-between .btn-clear {
  font-size: 30px;
  width: 30px;
  height: 40px;
  margin-right: 10px;
}

.header {
  margin-bottom: 5px;
}

.dark {
  color: #dadada;
  background: #1c2022;
  min-height: 100%;
}

.dark a {
  color: rgb(203, 203, 203);
}

.link {
  /* color: rgb(187, 46, 31); */
  color: black;
  text-decoration: none;
  /* font-weight: bold; */
  margin-right: 5px;
}

.small-link {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8pt;
  color: gray;
  text-align: start;
  border-spacing: 2px;
  text-decoration: none;
}

.small-link:hover {
  text-decoration: underline;
}

.small-link:visited {
  color: #828282;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

/* NAV */

.nav {
  display: flex;
  background: #ff6600;
  align-items: center;
  font-size: 0.85em;
  justify-content: flex-start;
}

.nav-link {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.nav li {
  margin-right: 10px;
  list-style-type: none;
  margin: 5px;
}

.nav li a {
  text-decoration: none;
  color: inherit;
}
.nav li a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn-clear {
  border: none;
  background: transparent;
}

.center-text {
  text-align: center;
}

/* POST */

.post {
  margin: 10px 0;
  display: flex;
}

.post span:nth-child(2) {
  color: #828282;
}

.post .rank {
  color: #828282;
  min-width: 45px;
}

.meta-info-light {
  color: gray;
}

.meta-info-light a {
  /* color: black; */
}

.meta-info-light span.subtext {
  margin: 10px 0;
  margin-right: 6px;
  font-size: 9pt;
}

.meta-info-dark {
  margin-top: 5px;
  color: gray;
}

.meta-info-dark a {
  color: #bebebe;
}

.meta-info-dark span {
  margin: 10px 0;
  margin-right: 6px;
}

/* COMMENT */

.comment {
  background: rgba(128, 128, 128, 0.1411764705882353);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.divider {
  padding-left: 5px;
  opacity: 0.5;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.dark .logo {
  color: white;
}

.avatar {
  outline: 1px solid white;
  object-fit: contain;
  padding: 5px;
  margin: 10px;
  width: 20px;
  height: 20px;
}

.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.list-items {
  padding: 2px;
  font-size: 10pt;
}

.title {
  padding-left: 3px;
  text-decoration: none;
  font-size: 11pt;
  line-height: 14pt;
}

.upvote {
  padding-top: 5px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}
.meta-info {
  font-size: 7pt;
  color: #828282;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.post-link {
  text-decoration: none;
  color: inherit;
}

.post-link:hover {
  text-decoration: underline;
}

.parent-link {
  font-size: 8pt;
  color: #828282;
}

.comment {
  padding: 10px;
  margin: 5px;
  font-size: 9pt;
}

.reply {
  font-size: 6pt;
  color: #828282;
}

.comment-user {
  color: #828282;
  font-size: 7pt;
}

.user-container {
  margin-top: 2em;
  padding-left: 1em;
}

.user-container p {
  margin-top: 10px;
}

.user-link {
  text-decoration: none;
  color: inherit;
}

.user-link:hover {
  text-decoration: underline;
}

.userPosts {
  padding-left: 1em;
}

.userPosts li {
  padding-top: 1em;
}
